Django==1.5.1
Fabric==1.6.1
Jinja2==2.7
MarkupSafe==0.18
PyYAML==3.10
South==0.8.1
ansible==2.6.18
argparse==1.2.1
cov-core==1.7
coverage==3.6
cssmin==0.1.4
distribute==0.6.34
django-assets==0.8
django-debug-toolbar==0.9.4
-e git+https://github.com/etianen/django-require.git@fc84c95b55b7c0667ab863bcf99e5f1a236191ec#egg=django_require-dev
django-robots==0.9.2
greenlet==0.4.0
gunicorn==17.5
meinheld==0.5.5
mock==1.0.1
paramiko==1.10.1
psycopg2==2.5.1
py==1.4.15
pyScss==1.1.5
pycrypto==2.6
pytest==2.3.5
pytest-cov==1.6
pytest-django==2.3.0
pytz==2013b
webassets==0.8
wsgiref==0.1.2
